/* COLOR VARIABLES **/
$color-primary: #3a6150;
$color-white: #ffffff;
$color-black: #111111;
$color-evinced-black: #131516;
$color-diopside-blue: #8392a6;
$color-input-black: rgba(17, 17, 17, 0.5);
$color-input-green: rgba(58, 97, 80, 0.7);
$color-border: #e5e7eb;

/* FONT VARIABLES **/

$font-family-base: "Outfit", sans-serif;
$font-size-base: 1.6rem;
$font-size-h1: 2.5rem;

/* SPACING **/
$space-xs: 0.4rem;
$space-sm: 0.8rem;
$space-md: 1.6rem;
$space-lg: 3.2rem;
$space-xl: 6.4rem;
